<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>전체조회</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        function deleteById(mentoringId){
            const reqUrl = "/mentoring/"+mentoringId;
            $.ajax({
                url : reqUrl,
                type : 'delete',
                success : function (){
                    alert('삭제되었습니다.')
                    location.reload();
                }, error : function (){
                    alert('요청실패')
                }
            })
        }
    </script>


</head>
<body>

<table>
    <tr th:each="mentoring:${mentoringList}">
        <td th:text="${mentoring.mentoringId}">글번호</td>
        <td th:text="${mentoring.mentoringWriter}">작성자</td>
        <td><a th:text="${mentoring.mentoringTitle}" th:href="@{|/mentoring/${mentoring.mentoringId}|}"> 글제목</a></td>
        <td th:text="${mentoring.mentoringContents}">글내용</td>
        <td th:text="${mentoring.mentoringPrice}">멘토링 가격</td>
        <td th:text="${mentoring.mentoringCareer}">멘토 경력, 특기</td>
        <td th:text="${mentoring.mentoringCate}">멘토 분야</td>
        <td th:text="${mentoring.mentoringCount}">멘토링 횟수</td>

        <td><button type="button" th:onclick="deleteById([[${mentoring.mentoringId}]])">글삭제</button></td>
        <td><a th:href="@{|/mentoring/update/${mentoring.mentoringId}|}">글수정</a></td>
    </tr>

</table>


</body>
</html>