<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<link rel="shortcut icon" href="#">

<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>

<body>
<th:block th:replace="/layout/fragments/navbar :: navbarFragment"></th:block>
<div style="margin-top: 300px">
    <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
        <!-- START Testimonials w/ user image & text & info -->
        <section class="py-sm-7 py-5 position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="mt-n8 mt-md-n9 text-center">
                            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2"
                                 th:src= "@{/member_upload/}+${mentoring.memberProfileName}" alt="bruce" loading="lazy">
                        </div>
                        <div class="row py-5">
                            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h3 class="mb-0 " th:text="${mentoring.mentoringTitle}"></h3>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-auto">
                                        <span class="h6" th:text="${mentoring.mentoringWriter}"></span>
                                    </div>
                                    <div class="col-auto">
                                        <span class="h6" th:text="${mentoring.mentoringCate}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        경력/특기 : <span th:text="${mentoring.mentoringCareer}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="text-lg mb-0" th:text="${mentoring.mentoringContents}"></p>
                                    <div class="col-md-3">
                                        가격 : <span th:text="${mentoring.mentoringCount}" th:value="${mentoring.mentoringCount}" id="mentoringCount"></span><span>회 멘토링</span>
                                    </div>
                                    <form action="/member/pointPayment" method="post" name="pointPayment">
                                    <div class="col-md-3">
                                        <span th:text="${mentoring.mentoringPrice}"></span><span>point</span>
                                        <input type="hidden" id="mentoringId" th:value="${mentoring.mentoringId}">
                                        <input type="hidden" name="memberId" id="loginId" th:value="${session.loginId}">
                                        <input type="hidden" name="pointPoint" th:value="${memberPoint}">
                                    </div>
                                    <div class="col-md-3">
                                        총액 : <span th:text="${totalPrice}" th:value="${totalPrice}" id="totalPrice" name="pointPoint"></span><br>
                                        결제 가능 포인트 :  <span type="number" id="memberPoint" th:value="${memberPoint}"></span>
                                        <button type="button" class="btn btn-danger" onclick="mentoringPayment()">멘토링 신청하기</button>
                                    </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</div>
</div>
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</div>
</body>
<script>
    function mentoringPayment(){
        const memberId = $('#loginId').val();
        const mentoringId = $('#mentoringId').val();
        const menteeCount = $('#mentoringCount').val();
        const memberPoint = $('#memberPoint').val();
        const totalPrice = $('#totalPrice').val();

        if(memberPoint<totalPrice){
            alert('포인트가 부족합니다.');
        }else{
        const reqUrl = "/mentoring/Payment";
        $.ajax({
            url : reqUrl,
            type : 'post',
            data : {
                "memberId" :memberId,
                "mentoringId" :mentoringId,
                "menteeCount" :menteeCount

            },
            success : function (){

                pointPayment.submit();
                alert('신청 완료 되었습니다.')
            }, error : function (){
                alert('요청실패')
            }
        })
    }
    }
</script>
</html>