<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<link rel="shortcut icon" href="#">
<style>
    #background {
        background-image: url("https://cdn.pixabay.com/photo/2018/06/29/08/15/doodle-3505459_1280.png");
    }
</style>
<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>
<body>
<header class="bg-gradient-dark">
    <th:block th:replace="/layout/fragments/navbar :: navbarFragment"></th:block>

    <div class="page-header min-vh-65" id="background">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1 class="text-white">내가 쓴 글</h1>
                    <p class="lead mb-4 text-white opacity-8">1일 1글!</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-md-8">
        <div class="card card-body blur shadow-blur mx-1 mx-md-1 mt-n3">
            <div class="container-fluid">
                <table class="table table-hover caption-top">
                    <caption>커뮤니티 글</caption>
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">제목</th>
                        <th scope="col">조회수</th>
                        <th scope="col">❤</th>
                        <th scope="col">작성시간</th>
                        <th scope="col">수정시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr scope="col" th:each="boardList: ${boardList}">
                        <th scope="row" th:text="${boardList.boardId}"></th>
                        <td><a th:href="@{|/board/${boardList.boardId}|}" th:text="${boardList.boardTitle}"></a></td>
                        <td th:text="${boardList.boardHits}"></td>
                        <td th:text="${boardList.likeCount}"></td>
                        <td>
                            <span th:text="*{#temporals.format(boardList.createBoardDate, 'yy/MM/dd HH:mm')}"></span>
                        </td>
                        <td>
                            <span th:text="*{#temporals.format(boardList.updateBoardDate, 'yy/MM/dd HH:mm')}"></span>
                        </td>
                        <td><input class="btn btn-danger" type="button"
                                   th:onclick="deleteByIdBoard([[${boardList.boardId}]])"
                                   value="삭제"></td>

                        <td><a class="btn btn-info" type="button"
                               th:href="@{|/board/update/${boardList.boardId}|}">수정</a></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table caption-top">
                    <caption>멘토링 글</caption>
                    <tr scope="col" th:each="mentoring:${mentoringList}">
                        <td th:text="${mentoring.mentoringId}"></td>
                        <td th:text="${mentoring.mentoringWriter}"></td>
                        <td><a th:text="${mentoring.mentoringTitle}" th:href="@{|/mentoring/${mentoring.mentoringId}|}">
                            </a>
                        </td>
                        <td th:text="${mentoring.mentoringCount+'회 '+mentoring.mentoringPrice+'point'}"></td>
                        <td th:text="${mentoring.mentoringCareer}"></td>
                        <td th:text="${mentoring.mentoringCate}"></td>

                        <td>
                            <button type="button" class="btn btn-danger"
                                    th:onclick="deleteByIdMentor([[${mentoring.mentoringId}]])">삭제
                            </button>
                        </td>
                        <td><a class="btn btn-info" th:href="@{|/mentoring/update/${mentoring.mentoringId}|}">수정</a></td>
                    </tr>
                </table>
                <p>스터디 글</p>
                <div class="col-lg-6" th:each="study:${studyList}">
                    <div class="accordion accordion-flush" th:id="${'accordionFlushExample' + study.studyId}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" th:id="${'flush-headingOne' + study.studyId}">
                                <button th:text="${study.studyTitle}" class="accordion-button collapsed h4"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        th:data-bs-target="${'#flush-collapseOne' + study.studyId}"
                                        aria-expanded="false" th:aria-controls="${'flush-collapseOne' + study.studyId}">
                                </button>
                            </h2>
                            <div th:id="${'flush-collapseOne' + study.studyId}" class="accordion-collapse collapse"
                                 th:aria-labelledby="${'flush-headingOne' + study.studyId}"
                                 th:data-bs-parent="${'#accordionFlushExample' + study.studyId}">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="hidden" th:value="${study.studyId}" id="studyId">
                                            <div class="h6">스터디 소개 :</div>
                                            <div class="text-dark" th:utext="${study.studyContents}"></div>
                                            <div class="h6">스터디 분야 :&nbsp; <span th:text="${study.studyCate}"></span>
                                            </div>

                                            <div class="h6">스터디 현재 인원 :&nbsp; <span
                                                    th:text="${study.studyCount}"></span>명
                                            </div>
                                            <div class="h6">모집 인원 :&nbsp; <span th:text="${study.studyMax}"></span>명
                                            </div>
                                            <span class="h6">스터디 장소 :&nbsp;</span><span
                                                th:text="${study.studyPlace}"></span>
                                            <span th:if="${#strings.equals(session['loginNick'],study.studyWriter)}">

                                <button type="button" class="btn btn-danger"
                                        th:onclick="deleteByIdStudy([[${study.studyId}]])">삭제</button>
                                          </span>
                                        </div>
                                        <div class="col-md-4">
                                            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2"
                                                 th:src="@{/member_upload/}+${study.memberProfileName}" alt="bruce"
                                                 loading="lazy">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="/member/mypage :: myPageSideBarFragment"></th:block>
</div>
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>

</body>
<script>

    const deleteByIdBoard = (boardId) => {
        const reqUrl = "/board/" + boardId;
        $.ajax({
            url: reqUrl,
            type: 'delete',
            success: function () {
                alert('삭제완료');
                location.reload();
            }, error: function () {
                alert('실패')
            }
        })
    }

    function deleteByIdMentor(mentoringId) {
        const reqUrl = "/mentoring/" + mentoringId;
        $.ajax({
            url: reqUrl,
            type: 'delete',
            success: function () {
                alert('삭제되었습니다.')
                location.reload();
            }, error: function () {
                alert('요청실패')
            }
        })
    }


    function deleteByIdStudy(studyId) {
        const reqUrl = "/study/" + studyId;
        $.ajax({
            url: reqUrl,
            type: 'delete',
            success: function () {
                alert('삭제되었습니다.')
                location.reload();
            }, error: function () {
                alert('요청실패')
            }
        })
    }


</script>


</html>