<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<th:block th:fragment="saveModalFragment">

    <input type="hidden" th:value="${session['loginNick']}" id="loginNick">
    <div class="modal fade" id="saveModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">

                <div class="modal-header">
                    <label class="modal-title" id="staticBackdropLabel">게시글 작성</label>
                </div>
                <div class="modal-body">
                    <form action="/board/save" method="post" enctype="multipart/form-data">
                        <div class="container my-auto">
                            <div class="row">
                                <div class="card z-index-0 fadeIn3 fadeInBottom">
                                    <div class="card-body">
                                        <div>
                                        <span th:each="category: ${categoryList}">
                                            <input type="radio" class="btn-check" th:value="${category.cateId}"
                                                   name="cateId" th:id="${category.cateName}" autocomplete="off" checked
                                                   required>
                                        <label class="btn btn-outline-primary" th:for="${category.cateName}"
                                               th:text="${category.cateName}"></label>
                                        </span>
                                        </div>

                                        <div>
                                            작성자 : <p th:text="${session['loginNick']}"></p>
                                            <input type="text" name="boardWriter"
                                                   th:value="${session['loginEmail']}" hidden>
                                            <input type="text" name="memberId" th:value="${session['loginId']}"
                                                   hidden>
                                        </div>
                                        <div class="input-group input-group-outline my-3">
                                            <label class="form-label">제목</label>
                                            <input type="text" th:class="form-control" name="boardTitle">
                                        </div>
                                        <div class="input-group mb-4 input-group-static">
                                            <label>내용</label>
                                            <textarea type="text" th:class="form-control"
                                                      name="boardContents" rows="10"></textarea>
                                        </div>
                                        <div>
                                            <label for="memberProfile">업로드 사진 선택</label>
                                            <input th:class="file-selector-button" type="file" id="memberProfile"
                                                   name="boardFile">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-container modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                                    aria-label="Close">
                                작성취소
                            </button>
                            <input type="submit" class="btn bg-gradient-primary" value="글작성">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>