<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<link rel="shortcut icon" href="#">
<style>
    #background {
        background-image: url("https://cdn.pixabay.com/photo/2018/06/29/08/15/doodle-3505459_1280.png");
    }
</style>
<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>
<body>
<header class="bg-gradient-dark">
    <th:block th:replace="/layout/fragments/navbar :: navbarFragment"></th:block>

    <div class="page-header min-vh-65" id="background">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1 class="text-white">My Point</h1>
                    <p class="lead mb-4 text-white opacity-8">포인트도 + 지식도 +!</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row">
<th:block th:fragment="pointFragment">
    <div class="col-lg-8">
        <div class="card card-body blur shadow-blur mx-1 mx-md-1 mt-n3">
            <div class="row">
                <div class="col-md-6"><h3>포인트 내역</h3></div>
                <div class="col-md-6">
                    <a th:href="@{|/member/pointCharge/${session.loginId}|}" class="btn btn-primary"> 포인트 충전 하기 </a>
                </div>
            </div>


            <table>
                <tr th:each="point:${pointList}">
                    <td th:text="${point.pointPoint}"></td>
                    <td th:text="${point.pointType}"></td>
                    <td th:text="*{#temporals.format(point.pointDate, 'yyyy/MM/dd HH:mm')}"></td>
                </tr>
            </table>
        </div>
    </div>
</th:block>
<th:block th:replace="/member/mypage :: myPageSideBarFragment"></th:block>
</div>
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</body>



</html>