<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>포인트 충전</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

    <script>
        const amount =



        const IMP = window.IMP;
        IMP.init('imp45182196');
        function requestPay() {
            // IMP.request_pay(param, callback) 결제창 호출
            IMP.request_pay({ // param
                pg: "kakao",
                pay_method: "card",
                merchant_uid: 'merchant_' + new Date().getTime(),
                name: "포인트 충전",
                amount: 1000,
                buyer_email: "gildong@gmail.com",
                buyer_name: "홍길동",

            }, function (rsp) { // callback
                if (rsp.success) {
                    const msg = '결제가 완료되었습니다.';
                    alert(msg);
                    updatePoint.submit();

                } else {
                    const msg = '결제에 실패하였습니다.';
                    alert(msg);
                }



            });
        }

    </script>

</head>
<body>

<div class="container" style="margin-top: 100px;">
    <h2>포인트 충전</h2>

    <div class="btn-group" >
        <form action="/member/pointCharge" method="post" name="updatePoint">
            <input type="hidden" name="m_id"  value="${sessionScope.loginId}">
            <input type="hidden" name="m_point" value="1000">
            <button class="btn btn-outline-danger" type="button" onclick="requestPay1()"> 1000p 충전</button>
        </form>
    </div>
</div>

</body>
</html>