<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<link rel="shortcut icon" href="#">
<style>
    #background {
        background-image: url("https://cdn.pixabay.com/photo/2018/06/29/08/15/doodle-3505459_1280.png");
    }
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>
<body>
<div id="wrapper">
    <header class="bg-gradient-dark">
        <th:block th:replace="/layout/fragments/navbar :: navbarFragment"></th:block>

        <div class="page-header min-vh-65" id="background">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center mx-auto my-auto">
                        <h1 class="text-white">My Point</h1>
                        <p class="lead mb-4 text-white opacity-8">포인트도 + 지식도 +!</p>
                        <span th:if="${not #strings.isEmpty(session['loginEmail'])}">
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-body blur shadow-blur mx-1 mx-md-1 mt-n3">
                <h3>포인트 내역</h3>
                <table>
                    <tr th:each="point:${pointList}">
                        <td th:text="${point.pointPoint}"></td>
                        <td th:text="${point.pointType}"></td>
                        <td th:text="${point.pointDate}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-body blur shadow-blur mx-1 mx-md-1 mt-n3">
                <h3>포인트 충전</h3>
                <div class="btn-group">
                    <form action="/member/pointCharge" method="post" name="updatePoint">

                        <input type="hidden" name="memberId" id="memberId" th:value="${session.loginId}">
                        <input type="hidden" name="pointType" id="pointType" value="포인트 충전">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="50000" name="pointPoint" value="50000"
                                   checked>
                            <label class="form-check-label" for="50000">
                                50000p
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pointPoint" id="100000"
                                   value="100000">
                            <label class="form-check-label" for="100000">
                                100000p
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="200000" name="pointPoint" value="200000"
                                   checked>
                            <label class="form-check-label" for="200000">
                                200000p
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pointPoint" id="500000"
                                   value="500000">
                            <label class="form-check-label" for="500000">
                                500000p
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pointPoint" id="1000000"
                                   value="1000000">
                            <label class="form-check-label" for="1000000">
                                1000000p
                            </label>
                        </div>
                        <input class="btn btn-outline-danger" type="button" onclick="requestPay()" value="포인트 충전">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    function deleteById(mentoringId) {
        const reqUrl = "/mentoring/" + mentoringId;
        $.ajax({
            url: reqUrl,
            type: 'delete',
            success: function () {
                alert('삭제되었습니다.')
                location.reload();
            }, error: function () {
                alert('요청실패')
            }
        })
    }
</script>

<script>
    //포인트 값과 구매자의 이름, 이메일
    const pointAmount = document.querySelector("input[name='pointPoint']:checked").value;
    const IMP = window.IMP;
    IMP.init('imp45182196');

    function requestPay() {
        // IMP.request_pay(param, callback) 결제창 호출
        IMP.request_pay({ // param
            pg: "kakao",
            pay_method: "card",
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: "포인트 충전",
            amount: pointAmount,

        }, function (rsp) { // callback
            if (rsp.success) {
                updatePoint.submit();
                const msg = '결제가 완료되었습니다.';
                alert(msg);
                location.reload();
            } else {
                const msg = '결제에 실패하였습니다.';
                alert(msg);
                location.reload();
            }


        });
    }
</script>
</html>