<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <!-- 공통 헤드-->
    <th:block th:replace="/layout/fragments/head :: headFragment"></th:block>
    <script>
        function emailCheck() {
            const memberEmail = document.getElementById("memberEmail").value
            const checkResult = document.getElementById("checkResult")
            $.ajax({
                type: 'post',
                url: 'emailDuplication',
                data: {'memberEmail': memberEmail},
                dataType: 'text',
                success: function (result) {
                    if (result == "ok") {
                        if(memberEmail==""){
                            checkResult.style.color = 'red';
                            checkResult.innerHTML = '이메일을 입력해주세요';
                        }else{
                            checkResult.style.color = 'green';
                            checkResult.innerHTML = '사용 가능 이메일';
                        }

                    } else {
                        checkResult.style.color = 'red'
                        checkResult.innerHTML = '이미 사용중인 이메일'
                    }
                }, error: function () {
                    console.log('에러 체크!!')

                }
            })
        }
    </script>
    <script>
        function nickNameCheck() {
            const memberNickName = document.getElementById("memberNickName").value;
            const nickCheckResult = document.getElementById("nickCheckResult");
            $.ajax({
                type: 'post',
                url: 'nickNameDuplication',
                data: {'memberNickName': memberNickName},
                dataType: 'text',
                success: function (result) {
                    if (result == "ok") {
                        if(memberNickName == ""){
                            nickCheckResult.style.color = 'red';
                            nickCheckResult.innerHTML = '닉네임을 입력해주세요';
                        }else{
                            nickCheckResult.style.color = 'green';
                            nickCheckResult.innerHTML = '사용 가능 닉네임';
                        }
                    } else {
                        nickCheckResult.style.color = 'red'
                        nickCheckResult.innerHTML = '이미 사용중인 닉네임'
                    }
                }, error: function () {
                    console.log('에러 체크!!')

                }
            })
        }

    </script>

</head>
<body>
<section>
    <div id="wrapper">
        <th:block th:replace="/layout/fragments/navbar :: navbarFragment"></th:block>
        <div class="page-header align-items-start min-vh-100"
             style="background-image: url('https://cdn.pixabay.com/photo/2017/03/28/22/55/night-photograph-2183637_1280.jpg');"
             loading="lazy">

            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container my-auto mt-6">
                <div class="row">
                    <div class="col-7 mx-auto">
                        <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                                    <h3 class="text-white text-primary mb-0">회원가입</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/member/save" id="contact-form" method="post" th:object="${member}"
                                      enctype="multipart/form-data" class="needs-validation">
                                    <div class="card-body p-0 my-3">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label for="memberName">이름</label>
                                                    <input id="memberName" class="form-control" type="text"
                                                           th:id="memberName" th:field="*{memberName}" placeholder="이름"
                                                           required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ps-md-2">
                                                <div class="input-group input-group-static mb-4">
                                                    <label for="memberNickName">닉네임</label>
                                                    <input class="form-control" type="text" id="memberNickName"
                                                           th:field="*{memberNickName}" placeholder="닉네임"
                                                           th:onblur="nickNameCheck()">
                                                    <p id="nickCheckResult"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input-group input-group-static mb-4">
                                                    <label for="memberEmail">Email</label>
                                                    <input class="form-control" type="email" id="memberEmail"
                                                           th:field="*{memberEmail}" placeholder="hello@naver.com"
                                                           th:onblur="emailCheck()">
                                                    <p id="checkResult"></p>
                                                    <p th:if="${#fields.hasErrors('memberEmail')}"
                                                       th:errors="*{memberEmail}" th:errorclass="field-error"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group input-group-static mb-4">
                                                    <label for="memberPassword">비밀번호</label>
                                                    <input class="form-control" type="password" id="memberPassword"
                                                           th:field="*{memberPassword}" placeholder="비밀번호">
                                                    <p th:if="${#fields.hasErrors('memberPassword')}"
                                                       th:errors="*{memberPassword}" th:errorclass="field-error"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ps-md-2">
                                                <div class="input-group input-group-static mb-4">
                                                    <label for="pwCheck">비밀번호 확인</label>
                                                    <input class="form-control" type="password" id="pwCheck"
                                                           placeholder="비밀번호" onblur="passwordCheck()">
                                                    <span id="pwCheckResult"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group input-group-static mb-4">
                                                <label for="memberPhone">전화번호</label>
                                                <input class="form-control" type="text" id="memberPhone"
                                                       th:field="*{memberPhone}" placeholder="010-3333-3333">
                                                <p th:if="${#fields.hasErrors('memberPhone')}"
                                                   th:errors="*{memberPhone}" th:errorclass="field-error"></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-group input-group-static mb-4">
                                                <label for="memberProfile">프로필 사진 선택</label>
                                                <input class="file-selector-button" type="file" id="memberProfile"
                                                       th:field="*{memberProfile}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="memberInteresting">관심있는 분야</label>
                                                <div class="input-group input-group-static mb-4">
                                                    <select class="form-select" id="memberInteresting"
                                                            th:field="*{memberInteresting}">
                                                        <option value="앱개발" selected>앱개발</option>
                                                        <option value="웹개발">웹개발</option>
                                                        <option value="게임개발">게임개발</option>
                                                        <option value="보안관련">보안관련</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-6 ps-md-2">
                                                <label for="memberLevel">개발자 레벨</label>
                                                <div class="input-group input-group-static mb-4">
                                                    <select class="form-select" id="memberLevel"
                                                            th:field="*{memberLevel}">
                                                        <option value="초보 개발자" selected>초보 개발자</option>
                                                        <option value="중급 개발자">중급 개발자</option>
                                                        <option value="고급 개발자">고급 개발자</option>
                                                        <option value="선생님">선생님</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <input type="submit" class="btn bg-gradient-primary mt-3 mb-0"
                                                       value="가입하기">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</body>
<script>
    $(document).ready(function () {
        let message = "[[${msg}]]";
        if (message != "") {
            alert(message);
        } else {

        }
    })

</script>
<script>
    function passwordCheck() {
        const memberPassword = $('#pwCheck').val();
        const checkPw = $('#memberPassword').val();
        const pwCheckResult = document.querySelector('#pwCheckResult');
        console.log(checkPw);
        if (memberPassword == checkPw) {
            if(memberPassword == ""){
                pwCheckResult.style.color = 'red';
                pwCheckResult.innerHTML = '비밀번호를 입력해주세요'
            }else{
                pwCheckResult.style.color = 'green';
                pwCheckResult.innerHTML = '비밀번호가 일치합니다'
            }

        } else {
            pwCheckResult.style.color = 'red';
            pwCheckResult.innerHTML = '비밀번호가 일치하지 않습니다'
        }
    }

</script>
</html>