<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<link rel="shortcut icon" href="#">
<style>
    #background {
        background-image: url("https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_1280.jpg");
    }
</style>

<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>
<body>
<div id="wrapper">
    <header class="bg-gradient-dark">
        <th:block th:replace="/layout/fragments/navbar :: navbarFragment"></th:block>

        <th:block th:replace="/study/save :: studySaveFragment"></th:block>

        <div class="page-header min-vh-70" id="background">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center mx-auto my-auto">
                        <h1 class="text-white">study</h1>
                        <p class="lead mb-4 text-white opacity-8">함께하는 개발생활</p>
                        <span th:if="${not #strings.isEmpty(session['loginEmail'])}">
                     <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                             data-bs-target="#studySaveModal">게시글 작성하기</button>
                    </span>
                        <div class="d-flex justify-content-center">
                         <span>
                             <a class="btn bg-gradient-primary w-auto me-2" href="/study/cateStudy/1">취업/면접</a>
                            </span>
                            <span>
                             <a class="btn bg-gradient-primary w-auto me-2" href="/study/cateStudy/2">학습노하우</a>
                            </span>
                            <span>
                             <a class="btn bg-gradient-primary w-auto me-2" href="/study/cateStudy/3">피드백</a>
                            </span>
                            <span>
                             <a class="btn bg-gradient-primary w-auto me-2" href="/study/cateStudy/4">기타</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <input type="hidden" th:value="${session.loginId}" id="memberId">
    <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
            <div class="row">
        <div class="col-lg-6" th:each="study:${studyList}">
                <div class="accordion accordion-flush" th:id="${'accordionFlushExample' + study.studyId}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" th:id="${'flush-headingOne' + study.studyId}">
                          <button th:text="${study.studyTitle}" class="accordion-button collapsed h4" type="button"
                                  data-bs-toggle="collapse" th:data-bs-target="${'#flush-collapseOne' + study.studyId}"
                                  aria-expanded="false" th:aria-controls="${'flush-collapseOne' + study.studyId}">
                          </button>
                        </h2>
                        <div th:id="${'flush-collapseOne' + study.studyId}" class="accordion-collapse collapse"
                             th:aria-labelledby="${'flush-headingOne' + study.studyId}"
                             th:data-bs-parent="${'#accordionFlushExample' + study.studyId}">
                          <div class="accordion-body">
                              <div class="row">
                                  <div class="col-md-8">
                                      <input type="hidden" th:value="${study.studyId}" id="studyId">
                              <div class="h6">스터디 소개 : </div>
                              <div class="text-bold" th:text="${study.studyContents}"></div>
                               <div class="h6">스터디 분야 :&nbsp; <span th:text="${study.studyCate}"></span></div>

                               <div class="h6">스터디 현재 인원 :&nbsp; <span th:text="${study.studyCount}"></span>명</div>
                               <div class="h6">모집 인원 :&nbsp; <span th:text="${study.studyMax}"></span>명</div>
                                      <span class="h6">스터디 장소 :&nbsp;</span><span th:text="${study.studyPlace}"></span>
                                      <span th:if="${#strings.equals(session['loginNick'],study.studyWriter)}">

                                <button type="button" class="btn btn-danger"
                                        th:onclick="deleteById([[${study.studyId}]])">글삭제</button>
                                <a class="btn btn-outline-info" th:href="@{|/study/update/${study.studyId}|}">글수정</a>
                                          </span>
                                  </div>
                                  <div class="col-md-4">
                            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2"
                                 th:src= "@{/member_upload/}+${study.memberProfileName}" alt="bruce" loading="lazy">
                                  </div>
                                  <span th:if="${not #strings.isEmpty(session['loginEmail'])}">
                                      <button class="btn btn-outline-info" th:onclick="studyApply([[${study.studyId}]])">스터디 신청하기</button>

                                  </span>

                              </div>
                          </div>
                        </div>
                    </div>
                </div>
        </div>
          </div>
    </div>
    <th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    function deleteById(studyId) {
        const reqUrl = "/study/" + studyId;
        $.ajax({
            url: reqUrl,
            type: 'delete',
            success: function () {
                alert('삭제되었습니다.')
                location.reload();
            }, error: function () {
                alert('요청실패')
            }
        })
    }
</script>
<script>
    function studyApply(studyId) {
        const memberId = $('#memberId').val();

        console.log('클릭한 회원 = '+memberId+'studyId = '+studyId);

        const reqUrl = "/studyApply/";
        $.ajax({
            url: reqUrl,
            type: 'post',
            data : {
                'memberId' : memberId,
                'studyId': studyId
            },
            dataType : 'text',
            success: function (data) {
                if(data == "ok"){
                    alert('신청되었습니다.')
                    location.reload();
                }else{
                    alert('이미 신청한 스터디 입니다.')
                }


            }, error: function () {
                alert('요청실패')
            }
        })
    }
</script>
</html>