<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<link rel="shortcut icon" href="#">
<link href="/assets/css/star.css" rel="stylesheet"/>
<style>
    #background {
        background-color: #002333;
    }
</style>
<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>
<body>
<th:block th:replace="/layout/fragments/navbar :: navbarFragment"></th:block>
<th:block th:replace="/course/save :: courseSaveFragment"></th:block>
<header class="bg-gradient-dark">
    <div class="page-header min-vh-75" id="background">
        <div class="container">
            <div class="row mt-5 mb-3">
                <div class="col-lg-4">
                    <img class="img-thumbnail" th:src="@{/class_upload/}+${onClass.onClassFileName}"
                         style="width:400px; height:300px;" alt="">
                </div>
                <div class="col-lg-8">
                    <span class="badge bg-danger">HOT</span>
                    <span class="h6 text-white" th:text="${onClass.onClassCate}"></span>
                    <span class="h6 text-white" th:text="${'>'+onClass.onClassTeacher+' 선생님'}"></span><br>
                    <h1 class="text-white" th:text="${onClass.onClassTitle}"></h1>
                    <p class="lead mb-4 text-white opacity-8" th:text="${onClass.onClassIntro}"></p>
                </div>
            </div>
        </div>
    </div>
</header>
<input type="hidden" id="onClassId" th:value="${onClass.onClassId}">
<input type="hidden" id="memberId" th:value="${session.loginId}">
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <!-- START Testimonials w/ user image & text & info -->
    <section class="py-sm-7 py-5 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">강의 소개
                            </button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">리뷰
                            </button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                                    aria-selected="false">강의 목록
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!--                        강의 소개 탭을 누르면 -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="mt-4">
                                <p class="text-lg text-dark mb-0" th:utext="${onClass.onClassContents}"></p>
                            </div>
                        </div>
                        <!--                            리뷰 탭을 누르면-->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <!--                            구매한 강의 인지 true 리뷰를 쓰지 않았었는지 false 체크-->
                            <div id="review-write" class="m-2" th:if="${myClassCheck && !reviewCheck}">

                                <div>
                                        <span class="h5" type="text" id="reviewWriter"
                                              th:text="${session['loginNick']}"></span>
                                </div>
                                <form class="mb-3" name="myform" id="myform" method="post">
                                    <fieldset>
                                        <span class="text-bold">별점을 선택해주세요</span>
                                        <input type="radio" name="reviewStar" value="5" id="rate1"><label
                                            for="rate1">★</label>
                                        <input type="radio" name="reviewStar" value="4" id="rate2"><label
                                            for="rate2">★</label>
                                        <input type="radio" name="reviewStar" value="3" id="rate3"><label
                                            for="rate3">★</label>
                                        <input type="radio" name="reviewStar" value="2" id="rate4"><label
                                            for="rate4">★</label>
                                        <input type="radio" name="reviewStar" value="1" id="rate5"><label
                                            for="rate5">★</label>
                                    </fieldset>
                                    <div>
                                        <textarea class="col-auto form-control" type="text" id="reviewContents"
                                                  placeholder="좋은 수강평을 남겨주시면 Cocolo에 큰 힘이 됩니다! 포인트 5000p도 지급!!"></textarea>
                                    </div>
                                </form>
                                <button class="col-auto btn btn-primary btn-lg" id="review-write-btn">리뷰 등록</button>
                            </div>
                            <div th:unless="${myClassCheck}"><h4 class="mt-2">❤강의를 구매하시면 리뷰를 남길 수 있어요!❤</h4></div>

                            <div id="review-list" class="container">
                                <div class="container">

                                    <div class="row mt-3" th:each="review: ${reviewList}">
                                        <div class="col-md-2">
                                            <img class="avatar avatar-xl shadow-xl position-relative z-index-2"
                                                 th:src="@{/member_upload/}+${review.writerProfileName}" alt="..."
                                                 loading="lazy">
                                        </div>
                                        <div class="col-md-6">
                                            <span class="h6" th:text="${review.reviewStar}" id="reviewStar"></span>
                                            <span class="reviewStar" th:text="${'★'*review.reviewStar}"></span>

                                            <div class="text-dark"
                                                 th:text="${review.reviewWriter} +'  '+*{#temporals.format(review.createTime, 'yyyy/MM/dd HH:mm')}"></div>
                                            <div th:text="${review.reviewContents}"></div>
                                            <div><input class="btn btn-danger" type="button" th:if="(${#strings.equals(session['loginEmail'],'admin')})
                                                    or (${session.loginNick}==${review.reviewWriter})"
                                                        th:onclick="deleteById([[${review.reviewId}]])"
                                                        value="삭제"></div>
                                        </div>
                                        <hr style="solid-color: #D3D3D3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        강의 목록 탭을 누르면-->
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <!--  강의를 맡은 선생님 닉네임과 같다면 강의 업로드 가능  -->
                            <span th:if="${#strings.equals(session['loginNick'],onClass.onClassTeacher)}">

                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#courseSaveModalFragment">강의 업로드
                            </button>
                                </span>

                            <ol class="list-group">
                                <span th:each="course, courseStat:${courseList}">
<!--                                    강의 구매 안한 회원-->
                                   <a th:unless="${myClassCheck}" href="#" id="myClassCheckAlert">
                                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="text-dark"
                                                     th:text="${courseStat.count +'. '+course.courseSection}"></div>
                                                <div class="text-bold" th:text="${course.courseTitle}"></div>

                                            </div>
                                               <img src="/assets/img/playButton.png" alt="" width="45px"
                                                    height="45px">
                                            <!--                                    <span class="badge bg-primary rounded-pill">NEW!</span>-->
                                        </li>
                                   </a>
                                    <!--                                 강의를 구매한 회원이면   -->
                                     <a th:if="${myClassCheck}" th:href="@{|/course/${course.courseId}|}">
                                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="text-dark"
                                                     th:text="${courseStat.count +'. '+course.courseSection}"></div>
                                                <div class="text-bold" th:text="${course.courseTitle}"></div>

                                            </div>
                                               <img src="/assets/img/playButton.png" alt="" width="45px"
                                                    height="45px">
                                            <!--                                    <span class="badge bg-primary rounded-pill">NEW!</span>-->
                                        </li>
                                   </a>
                                     <span th:if="${#strings.equals(session['loginNick'],onClass.onClassTeacher)}">
                                     <button type="button" class="btn btn-danger mt-1"
                                             th:onclick="deleteByCourseId([[${course.courseId}]])">강의삭제</button>
                                    </span>
                                </span>
                            </ol>

                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="card card-body blur shadow-blur mx-1 mx-md-1 mt-n3" th:unless="${myClassCheck}">
                        <span class="text-dark">Cocolo는 평생 수강!</span>
                        <span class="h3 text-dark" th:text="${onClass.onClassPrice} + '원'"></span>
                        <span th:if="${not #strings.isEmpty(session['loginEmail'])}">
                        <!--                            수강신청-->
                        <button type="button" class="btn btn-danger btn-lg w-auto me-2" id="buy-button">수강신청하기</button>
                        <!--                            찜하기-->

                        <button class="btn bg-gradient-primary btn-icon w-auto me-2" type="button"
                                th:onclick="saveWish([[${onClass.onClassId}]],[[${session.loginId}]])">
                            <div class="d-flex align-items-center">
                                <i class="material-icons me-2" aria-hidden="true">favorite</i>
                                찜 하기
                            </div>
                        </button>
                        </span>
                        <span th:if="${#strings.isEmpty(session['loginEmail'])}">
                             <!--                            수강신청-->
                        <button type="button" class="btn btn-danger btn-lg w-auto me-2 loginAlert">수강신청하기</button>
                            <!--                            찜하기-->

                        <button class="btn bg-gradient-primary btn-icon w-auto me-2 loginAlert" type="button">
                            <div class="d-flex align-items-center">
                                <i class="material-icons me-2" aria-hidden="true">favorite</i>
                                찜 하기
                            </div>
                        </button>
                        </span>

                    </div>
                    <div class="card card-body blur shadow-blur mx-1 mx-md-1 mt-n3" th:if="${myClassCheck}">
                        <span class="text-dark">Cocolo는 평생 수강!</span>
                        <span class="h4 text-dark">강의 수강 후 리뷰 5000p 지급! </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</div>
</body>
<script>
    // 수강신청버튼 클릭 - 장바구니에 추가 - 나의 장바구니로 이동
    $("#buy-button").click(function () {
        const onClassId = $("#onClassId").val();
        const memberId = $("#memberId").val();
        console.log(onClassId + memberId);
        $.ajax({
            type: 'post',
            url: '/cart/save',
            data: {
                'onClassId': onClassId,
                'memberId': memberId
            },
            dataType: 'json',
            success: function () {
                //장바구니에 없다면 저장 후 이동 있다면 그냥 이동
                location.href = '/cart/' + memberId;
            },
            error: function () {
                alert('ajax 실패');
            }
        });
    });

    function saveWish(onClassId, memberId) {
        $.ajax({
            url: '/wish/save',
            type: 'POST',
            data: {'onClassId': onClassId, 'memberId': memberId},
            success: function (data) {
                if (data) {
                    alert('위시리스트에 저장했습니다.')
                    location.reload();
                } else {
                    alert('이미 찜한 상품입니다.')
                }
            }, error: function () {
                console.log('오타 찾으세요')
            }
        });
    };

    $("#review-write-btn").click(function () {
        console.log("리뷰작성클릭");
        const reviewStar = $('[name=reviewStar]:checked').val()
        const reviewContents = $("#reviewContents").val();
        const onClassId = $("#onClassId").val();
        const memberId = $("#memberId").val();
        console.log(reviewStar + reviewContents + onClassId);
        $.ajax({
            type: 'post',
            url: '/review/save',
            data: {
                'reviewStar': reviewStar,
                'reviewContents': reviewContents,
                'onClassId': onClassId,
                'memberId': memberId

            },
            dataType: 'json',
            success: function () {
                location.reload();
            },
            error: function () {
                alert('ajax 실패');
            }
        });
    });

    const deleteById = (reviewId) => {
        console.log('삭제버튼클릭');
        console.log(reviewId);
        const reqUrl = "/review/" + reviewId
        $.ajax({
            type: 'delete',
            url: reqUrl,

            success: function () {
                alert('리뷰 삭제되었습니다.');
                location.reload();
            }, error() {
                alert('ajax 실패')
            }
        })
    }

    <!--    강의 삭제-->
    function deleteByCourseId(courseId) {
        const reqUrl = "/course/" + courseId;
        $.ajax({
            url: reqUrl,
            type: 'delete',
            success: function () {
                alert('삭제되었습니다.')
                location.reload();
            }, error: function () {
                alert('요청실패')
            }
        })
    }
</script>
<script>
    $("#myClassCheckAlert").click(function () {
        alert('강의 구매 후 들으실 수 있습니다.')
    })

    $(".loginAlert").click(function () {
        alert('로그인 후 이용하실 수 있습니다.')
    })
</script>
</html>