<!DOCTYPE html>
<html lagn="en"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<!-- 공통 헤더-->
<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>

<body class="index-page bg-gray-200">
<div id="wrapper">
    <th:block th:replace="/layout/fragments/navbar :: navbarFragment"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">

            <!-- 본문-->
        <div class="container" style="margin-top: 100px;">
        <h2>로그인 이메일 :  <h2 th:text="${session['loginEmail']}"></h2> </h2>
        <h2>로그인 번호 :  <h2 th:text="${session['loginId']}"></h2> </h2>
        <h2>로그인 닉네임 :  <h2 th:text="${session['loginNick']}"></h2> </h2>

        </div>
        <!-- 공통 하단-->
        <th:block th:replace="/layout/fragments/footer :: footerFragment"></th:block>
    </div>
</div>

<!-- 공통 스크립트-->
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</body>
</html>
</html>