<!DOCTYPE html>
<html lagn="en"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<!-- 공통 헤더-->
<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>

<body class="index-page bg-gray-200">
<!-- Channel Plugin Scripts -->
<script>
    (function () {
        let w = window;
        if (w.ChannelIO) {
            return (window.console.error || window.console.log || function () {
            })('ChannelIO script included twice.');
        }
        let ch = function () {
            ch.c(arguments);
        };
        ch.q = [];
        ch.c = function (args) {
            ch.q.push(args);
        };
        w.ChannelIO = ch;

        function l() {
            if (w.ChannelIOInitialized) {
                return;
            }
            w.ChannelIOInitialized = true;
            let s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
            s.charset = 'UTF-8';
            let x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }

        if (document.readyState === 'complete') {
            l();
        } else if (window.attachEvent) {
            window.attachEvent('onload', l);
        } else {
            window.addEventListener('DOMContentLoaded', l, false);
            window.addEventListener('load', l, false);
        }
    })();
    ChannelIO('boot', {
        "pluginKey": "56e7d959-6210-422d-8d0c-e1c35e70517a"
    });
</script>
<!-- End Channel Plugin -->
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <header class="bg-gradient-dark">
            <th:block th:replace="/layout/fragments/navbar :: navbarFragment"></th:block>
            <div class="page-header min-vh-65"
                 style="background-image: url('https://cdn.pixabay.com/photo/2019/10/04/18/36/milky-way-4526277_1280.jpg')">
                <span class="mask bg-gradient-dark opacity-6"></span>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center mx-auto my-auto">
                            <h1 class="text-white">Cocolo</h1>
                            <p class="lead mb-4 text-white opacity-8">Welcome to Cocolo!</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 본문-->
        <div class="card card-body blur shadow-blur mx-3 mx-md-3 mt-n2">
            <section class="my-2 py-2">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-1">
                            <div class="rotating-card-container">
                                <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-2">
                                    <div class="front front-background"
                                         style="background-image: url(https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80); background-size: cover;">
                                        <div class="card-body py-7 text-center">
                                            <i class="material-icons text-white text-4xl my-3">touch_app</i>
                                            <h3 class="text-white"> Cocolo 프로젝트를 가입 없이 체험해 보세요!</h3>
                                            <p class="text-white opacity-8"> 번거로운 가입 로그인 절차 없이 체험 하실 수 있습니다.</p>
                                        </div>
                                    </div>
                                    <div class="back back-background"
                                         style="background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80); background-size: auto;">
                                        <div class="card-body pt-7 text-center">
                                            <h3 class="text-white">More</h3>
                                            <p class="text-white opacity-8"> 쉽게 로그인 하여 Cocolo 체험하기!
                                            쉽게 게스트로 로그인하여 체험할 수 있어요</p>
                                            <a href="/member/testLogin"
                                               class="btn btn-white btn-sm w-50 mx-auto mt-3">Start with Cocolo!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ms-auto">
                            <a href="/onClass/">
                            <div class="row justify-content-start mt-1">
                                <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="10000">
                                            <img src="/class_upload/자바.png" style="width:610px; height:400px;"alt="...">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>온라인 클래스</h5>
                                                <p>자바를 공부해보세요!</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item" data-bs-interval="2000">
                                            <img src="/class_upload/파이썬.jpg" style="width:610px; height:400px;"alt="...">
                                            <div class="carousel-caption d-none d-md-block">
                                            <h5>온라인 클래스</h5>
                                            <p>재밌는 파이썬!</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/class_upload/부트스트랩.png" style="width:610px; height:400px;" alt="...">
                                            <div class="carousel-caption d-none d-md-block">
                                            <h5>온라인 클래스</h5>
                                            <p>부트스트랩으로 나만의 웹 꾸미기</p>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            </a>
<!--                            <div class="mt-4 row justify-content-start">-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="info">-->
<!--                                        <div class="embed-responsive embed-responsive-16by9">-->
<!--                                            <video width="610" height="400" controls autoplay loop-->
<!--                                                   class="embed-responsive-item">-->
<!--                                                <source src="/assets/images/sample.mp4" type="video/mp4">-->
<!--                                            </video>-->
<!--                                        </div>-->
<!--                                        <h5>Cocolo 시연영상</h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="mt-6 mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/class_upload/선생님모집.png" style="width:600px; height:180px;" alt="...">
                            </div>
                            <div class="col-md-6">
                                <img src="/class_upload/직원모집.png" style="width:600px; height:180px;" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- 공통 하단-->
        <th:block th:replace="/layout/fragments/footer :: footerFragment"></th:block>
    </div>
</div>

<!-- 공통 스크립트-->
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</body>
</html>
</html>